#gandalf:hover
{
	content: url(https://i.goopics.net/E2xn7.png);
}

#gandalf
{
	display: flex;
	position: relative;
	margin: auto;
	width: 500px;
	height: 572px;
}

#gold
{
	display: flex;
	position: absolute;
	background-color: #FFFFFF;
	opacity: 0.8;
	border-radius: 10px;
	width: 450px;
	height: 150px;
	margin-left: 25px;
	margin-top: 20px;
}

#texte
{
	display: flex;
	position: absolute;
	margin-left: 80px;
	margin-top: 200px;
	font-size: 100px;
	color: #FFFFFF;
}

#orange
{
	color: #ED7F10;
}

.gandalfdown
{
	display: none;
}


.imagegris
{
	background-color: #FFFFFF;
	opacity: 0.4;
}

.texte
{
	font-size: 60px;
	margin-top: 0px;
	margin-left: 70px;
}

